<div class="container home text-center">
<section id="resume">
	<div class="row text-center">
		<p class="mx-auto">LessTweet is a way for you to know if your contact is a serial tweeter</p>
	</div>
</section>
<br>
<br>
<br>

<section id="input">
	<div class="row">
	  <div class="mx-auto text-center">
	    <%= simple_form_for :user, url: page_path, :method => :get do |f| %>
	      <%= f.input :screen_name, label: false, placeholder: "Fill username here!"  %>
	      <%= button_tag(type: 'submit', class:"call-to-action") do  %>
	      	<i class="fa fa-check" aria-hidden="true"></i>
	      <% end %>
	    <% end %>
  	</div>
  </div>
</section>
</div>

