<div class="container home text-center">
<section id="resume">
	<div class="row text-center">
		<h3 class="mx-auto">Do you want to know if this user is a serial tweeter ? </h3>
	</div>	
</section>

<section id="input">
	<div class="row">
	  <div class="mx-auto text-center">
	    <%= simple_form_for :user, url: page_path, :method => :get do |f| %>
	      <%= f.input :screen_name, label: false, placeholder: "Fill username here!	" %>
	      <%= f.button :submit, "Check the result", class:"call-to-action" %>
	    <% end %>
  	</div>
  </div>
</section>




</div>

