// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.margin-card {
	margin-top: 50px;
}

.center {
	
	margin: auto 0;
	border-radius: 200px;
}

.home {
	height: calc(100vh - 200px);
}

body {
	height: 100%;
	font-family: 'Varela Round', sans-serif;
	background-image: linear-gradient(45deg, #3FC380, #4183D7); 

	}

.dynamicbar {
	width: 80%;
}


.footer {
	
	padding-bottom: 50px;
	height: 100px;
	margin-bottom: 0px;
}


.call-to-action {
	margin-top: 100px;
	width: 100%;
	padding: 5px;
	border: 2px solid black;
	border-radius: 100px;
	color: black;
	background-color: transparent;
	
	
	&:hover {
		color: white;
		background-color: black;
	}
}

.tooltip-class {
	background-color: red;
}